.information {
  background-image: url("./img/information_banner.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 80px 250px;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 550px;
}

.information__container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.information__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information__list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.information__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 100px;
  color: #fff;
}

.information__button {
  width: 325px;
  height: 60px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.information__item {
  margin-right: 215px;
  text-align: center;
}

.information__item:last-child {
  margin-right: 0;
}

.item__text {
  width: 226px;
  height: 72px;
  margin-top: 40px;
  font-size: 24px;
  line-height: 28px;
}
