.passengersPage__body {
  background: #f7f5f9;
}

.passengersPage__container {
  padding-left: 259px;
  padding-right: 257px;
  display: flex;
  flex-wrap: nowrap;
  background: #f7f5f9;
}

.passengersPage__sidebar {
  width: 361px;
  max-height: 1279px;
  background: #3e3c41;
  color: #fff;
  margin-right: 85px;
  margin-bottom: 1000px;
}

.passengersPage__sidebarTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 108px;
  text-align: center;
  padding-top: 35px;
}

.passengersPage__sidebarMiddle {
  height: 1062px;
  border-bottom: 1px solid #e5e5e5;
}

.passengersPage__sidebarResult {
  min-height: 110px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 28px;
  padding-top: 25px;
}

.passengersPage__sidebarResult span {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffa800;
  padding-left: 55px;
}

.passengersPage__sidebarResult img {
  margin-top: -15px;
}

.passengersPage__main {
  display: flex;
  flex-direction: column;
}

.passengersPage__collapse {
  margin-bottom: 46px;
}

.passengersPage__passenger-full {
  width: 960px;
  height: 723px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-top: 1px dashed #928f94;
  box-sizing: border-box;
  margin-bottom: 45px;
  padding-top: 38px;
}

.passenger-full__header {
  width: 960px;
  height: 107px;
  background: #f9f9f9;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.passenger__close {
  margin-left: auto;
  margin-right: 16px;
}

.passenger__closeButton {
  border: none;
  background: transparent;
}

.passenger-full__content {
  padding-left: 35px;
  padding-right: 35px;
}

.passenger-full__selectAge {
  width: 100%;
  display: flex;
}

.passengersPage__passenger {
  width: 960px;
  height: 97px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}

.passenger__button {
  background: transparent;
  border: 2px solid #ffa800;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.passengersPage__addPassenger {
  width: 960px;
  height: 97px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passenger__title,
.addPassenger__title {
  font-size: 30px;
  line-height: 35px;
  color: #292929;
}

.addPassenger__button {
  background: transparent;
  border: none;
}

.passenger-full__selectAge {
  margin-bottom: 45px;
}

.passengerFullSelectAge__field {
  border-radius: 5px;
  border: 1px solid #928f94;
}

.passenger__initials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.passengerInput__title {
  font-size: 16px;
  line-height: 19px;
  color: #928f94;
  margin-bottom: 8px;
}

.passengerInitials__input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  border: 1px solid #928f94;
}

.passengerInitials__input:hover,
.passengerInitials__input:focus,
.passengerInitials__input:active {
  border: 1px solid #ffa800;
}

.passenger__sex_bd {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.passenger__sex {
  width: 205px;
}

.passengerSex__buttons {
  display: flex;
  margin-right: 35px;
}

.passengerSex__button {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  height: 50px;
  width: 102px;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #928f94;
  border-bottom: 1px solid #928f94;
  cursor: pointer;
}

.male {
  border-left: 1px solid #928f94;
  border-right: 1px solid #928f94;
  border-radius: 5px 0px 0px 5px;
}

.female {
  border-right: 1px solid #928f94;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

.passengerSex__button.active {
  background: #ffa800;
}

.passengerBd__input {
  width: 240px;
  height: 50px;
  border: 1px solid #928f94;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

.passengerBd__input:hover,
.passengerBd__input:focus,
.passengerBd__input:active,
.passport__input:hover,
.passport__input:focus,
.passport__input:active {
  border: 1px solid #ffa800;
}

.passengerCheckbox__block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 33px;
}

.passengerCheckbox__title {
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  padding-left: 20px;
}

.passenger__passportData {
  height: 153px;
  border-top: 1px dashed #928f94;
  border-bottom: 1px dashed #928f94;
  padding-top: 37px;
  padding-bottom: 33px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  margin-bottom: 25px;
}

.passportData__block {
  margin-right: 35px;
}

.passport__input {
  width: 205px;
  height: 50px;
  border: 1px solid #928f94;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

.passenger__next {
  display: flex;
  justify-content: end;
  padding-right: 35px;
}

.passengerNext__button {
  width: 303px;
  height: 52px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  background-color: #ffffff;
  border: 1px solid #292929;
  border-radius: 5px;
}

/* antd */
html {
  --antd-wave-shadow-color: #ffa800;
}

.ant-select-selector {
  width: 280px !important;
  height: 50px !important;
  box-sizing: border-box;
}

.ant-select-selection-item {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding-left: 13px;
  padding-top: 10px;
}

.ant-checkbox-inner {
  width: 28px;
  height: 28px;
  border: 1px solid #928f94;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffa800;
  border-color: #ffa800;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-inner:hover,
.ant-checkbox-inner:focus,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover {
  border-color: #ffa800;
}

.passengersPage__collapse
  > .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  margin-right: -30px;
}

.passengersPage__collapse > .ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header svg {
  position: relative;
  z-index: 2;
}

.ant-collapse-icon-position-left
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  top: 38px;
  left: 30px;
}

.passengersPage__collapse
  > .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-top: 0;
  padding-left: 2px;
  padding-bottom: 0;
}
