span {
  position: relative;
}

.reviews {
  padding: 100px 258px;
  margin: 0 auto;
  width: 100%;
  height: 650px;
  background: #fff;
}

.reviews__slides {
  margin-top: 80px;
  display: flex;
  position: relative;
}

.reviews__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  text-transform: uppercase;
  color: #292929;
}

.review__card:nth-child(odd) {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.review__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
}

.review {
  width: 350px;
  height: 150px;
  text-align: start;
}

.review__text {
  margin-top: 24px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
  font-style: italic;
  color: #000000;
}

.avatar__container {
  position: relative;
  margin-right: 35px;
  min-width: 205px;
  min-height: 205px;
}

.avatar__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.quotesOpen {
  width: 13px;
  height: 10px;
  position: absolute;
  top: -7px;
  left: -16px;
  object-fit: contain;
}

.quotesClose {
  width: 13px;
  height: 10px;
  position: absolute;
  right: -16px;
  bottom: +5px;
  object-fit: contain;
}

/* slider */

.carousel .carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 20px !important;
  height: 20px !important;
  background: #e5e5e5 !important;
  border-radius: 100% !important;
}
