.totalPrice__container {
  display: flex;
  justify-content: end;
  padding-right: 38px;
}

.totalPrice__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffa800;
  margin-right: 10px;
}
