.names__card {
  height: calc(650px / 3);
  border-bottom: 1px dashed #e5e5e5;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.card__img {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #292929;
  width: 100px;

  span {
    padding-top: 17px;
  }
}

.card__details {
  margin-left: 45px;

  .initials {
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    margin-bottom: 7px;
  }

  .details__sex,
  .details__birthday,
  .details__passport,
  .details__dysmobility {
    font-size: 18px;
    line-height: 21px;
    color: #928f94;
    margin-bottom: 5px;
  }
}
