.about {
  padding: 144px 258px 100px;
  max-width: 1320px;
}

.about__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about__content {
  display: flex;
}

.about__line {
  width: 9px;
  background-color: #ffa800;
  margin-right: 20px;
  flex: 1 0 auto;
}

.about__text {
  font-size: 24px;
  font-weight: 400;
  white-space: pre-line;
}

p {
  margin-bottom: 35px;
}

p:last-child {
  margin-bottom: 0;
  font-weight: 700;
}
