.wrapper {
  background-image: url("../../img/banner_first.jpg");
  height: 500px;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header__container {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
