.wrapper__main {
  background-image: url("../../img/header_main.png");
  height: 985px;
  border-bottom: 8px solid #ffa800;
}

.wrapper__select {
  background-image: url("../../img/header_select.png");
  height: 596px;
}

.wrapper__success {
  background-image: url("../../img/header_success.png");
  height: 834px;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header__top {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.header__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header__maintitle {
  width: 506px;
  height: 170px;
  margin-left: 350px;
  margin-top: 440px;
  color: #ffffff;
  font-size: 72px;
  font-weight: 100;
  line-height: 84px;
}

.maintitle_bold {
  font-weight: 700;
}

.success__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
  padding-left: 257px;
  padding-top: 350px;
}
