.results__container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.results__container h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.results__container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
