.selectionPage__body {
  background: #f7f5f9;
}

.selection__container {
  min-height: 2400px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 258px;
}

.selection__sidebar {
  width: 360px;
  margin-right: 86px;
}

.selection__main {
  min-width: 960px;
}
