.loader__container {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #3e3c41;

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #928f94;
    padding-top: 260px;
  }
}
