.carriageBlock__header {
  height: 37px;
  background: rgba(255, 168, 0, 0.44);
  padding-left: 33px;
  padding-right: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carriageBlock__carriages {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2d2b2f;
}

.carriageBlock__carriages span {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.active-carriage {
  color: #ffffff;
}

.carriageBlock__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
}

.carriageBlock__details {
  height: 161px;
  margin-bottom: 67px;
  display: flex;
}

.carriage__number {
  width: 190px;
  height: 100%;
  background: #ffd98f;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  padding-top: 20px;
  margin-right: 85px;
}

.carriage__number span {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #292929;
}

.carriage__seatsInfo {
  width: 100%;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
}

.seatsInfo__block {
  width: calc(100% / 3);
}

.seatsInfo__title {
  font-size: 18px;
  line-height: 21px;
  color: #928f94;
  margin-bottom: 21px;
}

.seatsInfo__title span {
  color: #000000;
}

.seatsInfo__seats {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 24px;
}

.seatsInfo__seats span {
  font-weight: bold;
}

.seatsInfo__price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 24px;
}

.seatsInfo__price img {
  width: 14px;
  height: 17px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.seatsInfo__services {
  display: flex;
  justify-content: space-between;
  padding-right: 59px;
}

.carriageBlock__insideImg {
  padding-left: 21px;
}

.carriage__popup {
  width: 199px;
  height: 72px;
  background: #f3f3f3;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  padding: 15px;
  margin-top: -50px;
  margin-right: 42px;
  margin-left: auto;
}
