.footer {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  flex-direction: column;
  color: #fff;
  background: #2d2b2f;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer__top section {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.footer__subtitle {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 12px;
}

.footer__connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__socials {
  display: flex;
  flex-wrap: nowrap;
}

.footer__button {
  box-sizing: border-box;
  width: 170px;
  height: 60px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #e5e5e5;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}

.footer__mailInput {
  margin-right: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 447px;
  height: 60px;
  font-size: 24px;
  line-height: 28px;
  background: #fff;
  border: 0;
  border-radius: 3px;
}

.footer__mailInput:focus {
  outline: none;
}

.footer__bottom {
  margin-top: 50px;
  padding: 0 255px;
  display: flex;
  box-sizing: border-box;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}

.footer__logo {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  font-style: normal;
  color: #e5e5e5;
}

.footer__btnUp {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.footer__btnUp:hover {
  background-color: transparent;
}

.footer__btnUp img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__bottom span {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #e5e5e5;
}
