.mainCard__seats {
  padding-left: 27px;
  padding-top: 41px;
}

.seats__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 22px;
}

.seats__name {
  font-size: 16px;
  line-height: 19px;
  color: #3e3c41;
  padding-right: 20px;
  width: 85px;
}

.seats__amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffa800;
  padding-right: 15px;
}

.seats__price {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.seats__price span {
  display: block;
}

.price__from {
  margin-right: 2px;
}

.price__value {
  width: 56px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2d2b2f;
  margin-right: 5px;
}

.price__rubIcon img {
  vertical-align: bottom;
}

.seats__options {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.seatsOptions__icon {
  margin-right: 10px;
}

.seats__button button {
  width: 228px;
  height: 39px;
  background: #ffa800;
  border-radius: 5px;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding-top: 2.5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.tooltip {
  box-sizing: border-box;
  width: 276px;
  background: #f5f4f6;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltip__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tooltip__container::after {
  position: absolute;
  top: -26px;
  left: calc(50% - 10px);
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #f5f4f6;
}

.tooltip__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tooltip__row:not(:last-child) {
  margin-bottom: 7px;
}

.tooltip__txt {
  margin-left: 15px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

.tooltip__price {
  flex-grow: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-style: normal;

  color: #2d2b2f;
}

.tooltip__rub {
  margin-top: -2px;
  margin-left: 5px;
  width: 16px;
  height: 19px;
  flex-grow: 0;
  color: #928f94;
}
