.lastTickets__container {
  width: 360px;
  height: 550px;
}

.lastTickets__title {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
}

.lastTickets__block {
  display: flex;
  flex-direction: column;
}
