.header__navbar {
  padding-left: 258px;
  height: 94px;
  background-color: #292929;
}

.header__navbar ul {
  display: flex;
}

.header__navbar li {
  margin-top: 28px;
  margin-right: 83px;

  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
}
