.pay__way {
  display: flex;
  flex-wrap: nowrap;
}

.pay__way p {
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  width: 680px;
  height: 146px;
  border-right: 1px dashed #e5e5e5;
  padding-top: 44px;
  padding-left: 33px;
}

.pay__way div {
  padding-top: 86px;
  padding-left: 25px;
}

.pay__way button {
  width: 233px;
  height: 39px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  border-radius: 5px;
  border: 1px solid #292929;
  background-color: transparent;
}
